[hello-world]
exten => s,1,NoOp()
  same => n,Playback(hello-world)
  same => n,Return()

[goodbye]
exten => s,1,NoOp()
  same => n,Playback(goodbye)
  same => n,Return()

[tms-playback]
exten => 1001,1,NoOp()
  same => n,Answer()
  same => n,Log(NOTICE, ${CHANNEL(rtp,dest)})
  same => n,Playback(hello-world)
  same => n,Hangup()

exten => 2001,1,NoOp()
  same => n,Answer()
  same => n,TMSAlawPlay(/var/lib/asterisk/media/sine-8k-10s.alaw)
  same => n,Hangup()

exten => 2002,1,NoOp()
  same => n,Answer()
  same => n,TMSMp3Play(/var/lib/asterisk/media/sine-8k-10s.mp3)
  same => n,Hangup()

exten => 2003,1,NoOp()
  same => n,Answer()
  same => n,TMSMp3Play(/var/lib/asterisk/media/sine-10s.mp3)
  same => n,Hangup()

exten => 3000,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/testsrc2-baseline-31-gop10-10s.h264)
  same => n,Hangup()

exten => 3001,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-10s.h264)
  same => n,Hangup()

exten => 3002,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-green-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-green-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-green-1s.h264)
  ;same => n,Hangup()

exten => 3003,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/testsrc2-baseline-31-10s.h264)
  same => n,Wait(1)
  same => n,Hangup()

exten => 3004,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/testsrc2-baseline-31-10s.h264)
  same => n,Wait(1)
  same => n,Hangup()

exten => 3011,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-green-10s.h264)
  same => n,Hangup()

exten => 3012,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-green-10s.h264,tight)
  same => n,Hangup()

exten => 3013,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-2s-green-8s.h264,tight)
  same => n,Hangup()

exten => 3021,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-green-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/testsrc2-10s.h264)
  same => n,Wait(1)
  same => n,Hangup()

exten => 3022,1,NoOp()
  same => n,Answer()
  same => n,TMSH264Play(/var/lib/asterisk/media/color-red-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/color-green-1s.h264)
  same => n,TMSH264Play(/var/lib/asterisk/media/testsrc2-gop10-10s.h264)
  same => n,Wait(1)
  same => n,Hangup()

exten => 4000,1,NoOp()
  same => n,Answer()
  same => n,TMSMp4Play(/var/lib/asterisk/media/sine-8k-testsrc2-baseline31-gop10-10s.mp4)
  same => n,Wait(1)
  same => n,Hangup()

exten => 4001,1,NoOp()
  same => n,Answer()
  same => n,TMSMp4Play(/var/lib/asterisk/media/sine-red-10s.mp4)
  same => n,Hangup()

exten => 4002,1,NoOp()
  same => n,Answer()
  same => n,TMSMp4Play(/var/lib/asterisk/media/sine-8k-red-10s.mp4)
  same => n,Hangup()

exten => 4011,1,NoOp()
  same => n,Answer()
  same => n,TMSMp4Play(/var/lib/asterisk/media/anullsrc-blue-1s.mp4)
  same => n,Hangup()

exten => 4012,1,NoOp()
  same => n,Answer()
  same => n,TMSMp4Play(/var/lib/asterisk/media/testsrc2-baseline31-gop10-10s-sine-8k-8s.mp4)
  same => n,Hangup()

exten => 5000,1,NoOp()
  same => n,Answer()
  same => n,TMSDtmf()
  same => n,GosubIf($[${TMSDTMFKEY}=0]?goodbye,s,1:hello-world,s,1)
  same => n,Hangup()

exten => 6000,1,NoOp()
  same => n,Stasis(hello-ari)

exten => 6001,1,NoOp()
  same => n,Stasis(channel-state)

exten => 6002,1,NoOp()
  same => n,Stasis(originate-example,dialplan,1)

exten => 7000,1,NoOp()
  same => n,Progress()
  same => n,Wait(1)
  same => n,Playback(hello-world,noanswer)
  same => n,Hangup()

exten => 8000,1,NoOp()
  same => n,Answer()
  same => n,Wait(15)
  same => n,Hangup()

exten => _9XXX,1,Dial(PJSIP/${EXTEN},20)