[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0
external_media_address=填写宿主机地址
external_signaling_address=填写宿主机地址

[6001]
type=endpoint
context=from-internal
disallow=all
allow=alaw,h264
auth=6001
aors=6001
direct_media=no

[6001]
type=auth
auth_type=userpass
password=123456
username=6001

[6001]
type=aor
max_contacts=1
remove_existing=yes

[6002]
type=endpoint
context=from-internal
disallow=all
allow=alaw,h264
auth=6002
aors=6002
direct_media=no

[6002]
type=auth
auth_type=userpass
password=123456
username=6002

[6002]
type=aor
max_contacts=1
remove_existing=yes

[6003]
type=endpoint
context=from-internal
disallow=all
allow=alaw,h264
auth=6003
aors=6003
direct_media=no

[6003]
type=auth
auth_type=userpass
password=123456
username=6003

[6003]
type=aor
max_contacts=1
remove_existing=yes