[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0
external_media_address=填写实际地址
external_signaling_address=填写实际地址

[9001]
type=endpoint
context=tms-playback
disallow=all
allow=alaw,h264
auth=9001
aors=9001
direct_media=no

[9001]
type=auth
auth_type=userpass
password=123456
username=9001

[9001]
type=aor
max_contacts=1
remove_existing=yes

[9002]
type=endpoint
context=tms-playback
disallow=all
allow=alaw,h264
auth=9002
aors=9002
direct_media=no

[9002]
type=auth
auth_type=userpass
password=123456
username=9002

[9002]
type=aor
max_contacts=100
remove_existing=no

[9003]
type=endpoint
context=tms-playback
disallow=all
allow=alaw,h264
auth=9003
aors=9003
direct_media=no

[9003]
type=auth
auth_type=userpass
password=123456
username=9003

[9003]
type=aor
max_contacts=1
remove_existing=yes
